[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca/
[submodule "cunt-blockchain-gui"]
	path = cunt-blockchain-gui
	url = https://github.com/dominick01234/cunt-blockchain-gui
